// nextflow.config

workDir = '/tmp/nf_work'

params {
    reads       = "data/*_R{1,2}.fastq.gz"
    sra_csv     = "metadata/SraRunTable.csv"
    outdir      = "results"
    use_scratch = true
    
    reference = [
        species    : "Homo sapiens",
        assembly   : "GRCh38",
        provider   : "Ensembl",
        release    : "111",
        fasta_file : "Homo_sapiens.GRCh38.dna.primary_assembly.fa",
        gtf_file   : "Homo_sapiens.GRCh38.111.gtf",
        fasta_url  : "https://ftp.ensembl.org/pub/release-111/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz",
        gtf_url    : "https://ftp.ensembl.org/pub/release-111/gtf/homo_sapiens/Homo_sapiens.GRCh38.111.gtf.gz"
    ]


    star = [
        sjdb_overhang : 124
    ]

    star_cpus = 4
    star_max_forks = 2

    counts = [
        strandedness : "reverse"
    ]
}
apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "$baseDir/.apptainer_cache"
}

cleanup = true
process.stageInMode = 'symlink'

executor {
    name = 'local'
    cpus = 16
    memory = '100 GB'
    queueSize = 9
}

process {
    // Global execution limits help control disk usage and RAM pressure.
    maxForks = 1

    withName: FASTQC {
        container = "https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0"
        maxForks = 8
        cpus = 2
    }
    
    withName: FASTQC_TRIMMED {
        container = "https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0"
        maxForks = 8
        cpus = 2
    }

    withName: TRIM_GALORE {
        container = "quay.io/biocontainers/trim-galore:2.3.0--hf1b6044_0"
        cpus = 4
    }

    withName: STAR_ALIGN {
        container = "quay.io/biocontainers/star:2.7.11b--h43eeafb_0"
        scratch = params.use_scratch
        cpus = params.star_cpus
        memory = "45 GB"
        maxForks = params.star_max_forks
    }

    withName: PREPARE_REF_GENOME {
        container = "quay.io/biocontainers/star:2.7.11b--h43eeafb_0"
        cpus = 12
    }

    withName: MULTIQC {
        container = "quay.io/biocontainers/multiqc:1.19--pyhdfd78af_0"
    }

    withName: MERGE_MATRIX {
        container = "docker://python:3.10-slim"
    }


}

