
// nextflow.config


params {
    reads       = "data/*_R{1,2}.fastq.gz"
    sra_csv     = "metadata/SraRunTable.csv"
    outdir      = "results"
    use_scratch = true
    
    reference = [
        species : "Mus musculus",
        assembly : "GRCm39",
        provider : "Ensembl",
        release : "111",
        fasta_file : "Mus_musculus.GRCm39.dna.primary_assembly.fa",
        gtf_file : "Mus_musculus.GRCm39.111.gtf",
        fasta_url : "https://ftp.ensembl.org/pub/release-111/fasta/mus_musculus/dna/Mus_musculus.GRCm39.dna.primary_assembly.fa.gz",
        gtf_url : "https://ftp.ensembl.org/pub/release-111/gtf/mus_musculus/Mus_musculus.GRCm39.111.gtf.gz"
    ]

    star = [
        sjdb_overhang : 100
    ]


}
apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "$baseDir/.apptainer_cache"
}

cleanup = true
process.stageInMode = 'symlink'

executor {
    name = 'local'
    cpus = 32
    memory = '200 GB'
    queueSize = 9
}

process {
    // Global execution limits help control disk usage and RAM pressure.
    maxForks = 2

    withName: FASTQC {
        container = "https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0"
        maxForks = 8
        cpus = 2
    }
    
    withName: FASTQC_TRIMMED {
        container = "https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0"
        maxForks = 8
        cpus = 2
    }

    withName: TRIM_GALORE {
        container = "quay.io/biocontainers/trim-galore:2.3.0--hf1b6044_0"
        cpus = 4
        maxForks = 4
    }

    withName: STAR_PASS1 {
        container = "quay.io/biocontainers/star:2.7.11b--h43eeafb_0"
        scratch = params.use_scratch
        cpus = 8
        memory = "45 GB"
    }

    withName: STAR_PASS2 {
        container = "quay.io/biocontainers/star:2.7.11b--h43eeafb_0"
        scratch = params.use_scratch
        cpus = 16
        memory = "45 GB"
    }
    withName: PREPARE_REF_GENOME {
        container = "quay.io/biocontainers/star:2.7.11b--h43eeafb_0"
        cpus = 12
    }

    withName: MULTIQC {
        container = "quay.io/biocontainers/multiqc:1.19--pyhdfd78af_0"
    }

    withName: MERGE_MATRIX {
        container = "docker://python:3.10-slim"
    }


}

